<launch>
    <rosparam file="$(find hiwonder_servo_controllers)/config/hiwonder_servo_controller.yaml" command="load" ns="hiwonder_servo_manager"/>
    <node name="hiwonder_servo_manager" pkg="hiwonder_servo_controllers" type="controller_manager.py" required="true" output="screen">
    </node>
</launch>
